<div id="titleBar" class="dialogTitle title flexBox">
    <span class="dialogTitle">Title</span>
    <div class="title-buttons flexBox">
        <a class="icon icon-close icon-white hover-red" data-click="closeDialog">X</a>
    </div>
</div>
<h1>SUCCESS</h1>

<style>
    #titleBar {
        padding: 0 20px;
        height: 50px;
        background: #002459;
        color: #fff;
    }
    .dialogTitle {
        font-size: 1.2rem;
    }
    .flexBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    a {
        cursor: pointer;
    }
</style>